<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Large_Ellie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{195,250}</string>
                <key>spriteSourceSize</key>
                <string>{217,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Ellie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{196,242}</string>
                <key>spriteSourceSize</key>
                <string>{218,280}</string>
                <key>textureRect</key>
                <string>{{1,253},{196,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Ellie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{196,232}</string>
                <key>spriteSourceSize</key>
                <string>{218,280}</string>
                <key>textureRect</key>
                <string>{{1,733},{196,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Ellie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,23}</string>
                <key>spriteSize</key>
                <string>{196,234}</string>
                <key>spriteSourceSize</key>
                <string>{218,280}</string>
                <key>textureRect</key>
                <string>{{1,497},{196,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Ellie5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,19}</string>
                <key>spriteSize</key>
                <string>{196,232}</string>
                <key>spriteSourceSize</key>
                <string>{218,280}</string>
                <key>textureRect</key>
                <string>{{1,733},{196,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Large_EllieAnimationSpritesheet.png</string>
            <key>size</key>
            <string>{198,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70d7421cf22dfa6edb0ac78bf99050b3:6e11094634e9c4c7a2cdfbe65ffb284d:44c07210e813f679ee217b3ef8dbfd18$</string>
            <key>textureFileName</key>
            <string>Large_EllieAnimationSpritesheet.png</string>
        </dict>
    </dict>
</plist>
