<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Large_Foxy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,280}</string>
                <key>textureRect</key>
                <string>{{185,1},{180,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Foxy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,280}</string>
                <key>textureRect</key>
                <string>{{185,219},{180,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Foxy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{182,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,280}</string>
                <key>textureRect</key>
                <string>{{1,221},{182,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Foxy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{182,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Foxy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{182,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,280}</string>
                <key>textureRect</key>
                <string>{{1,221},{182,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Large_FoxyAnimationSpritesheet.png</string>
            <key>size</key>
            <string>{366,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4befc54902649b54241bf0d376761c6e:5662bdc4b8bebb41683e816c0064beb4:961d1c30ea3047a9803a4cd9f2729265$</string>
            <key>textureFileName</key>
            <string>Large_FoxyAnimationSpritesheet.png</string>
        </dict>
    </dict>
</plist>
