<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Large_BunBun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{145,236}</string>
                <key>spriteSourceSize</key>
                <string>{193,280}</string>
                <key>textureRect</key>
                <string>{{164,319},{145,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Large_BunBun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{155,232}</string>
                <key>spriteSourceSize</key>
                <string>{193,280}</string>
                <key>textureRect</key>
                <string>{{164,1},{155,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Large_BunBun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{159,224}</string>
                <key>spriteSourceSize</key>
                <string>{193,280}</string>
                <key>textureRect</key>
                <string>{{164,158},{159,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Large_BunBun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,20}</string>
                <key>spriteSize</key>
                <string>{161,224}</string>
                <key>spriteSourceSize</key>
                <string>{193,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_BunBun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{161,224}</string>
                <key>spriteSourceSize</key>
                <string>{193,280}</string>
                <key>textureRect</key>
                <string>{{1,227},{161,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Large_BunBunAnimationSpritesheet.png</string>
            <key>size</key>
            <string>{401,465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d972f3ea6338a2219bcbc4b2e1fdc91:c247dd4387ec47d27c32c63959ade902:993fe7e4cfd071922a2b1fa635a684ef$</string>
            <key>textureFileName</key>
            <string>Large_BunBunAnimationSpritesheet.png</string>
        </dict>
    </dict>
</plist>
