<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Large_Salmie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{195,196}</string>
                <key>spriteSourceSize</key>
                <string>{207,280}</string>
                <key>textureRect</key>
                <string>{{387,1},{195,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Salmie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{191,196}</string>
                <key>spriteSourceSize</key>
                <string>{207,280}</string>
                <key>textureRect</key>
                <string>{{584,1},{191,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Salmie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{191,198}</string>
                <key>spriteSourceSize</key>
                <string>{207,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Salmie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{191,198}</string>
                <key>spriteSourceSize</key>
                <string>{207,280}</string>
                <key>textureRect</key>
                <string>{{194,1},{191,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Salmie5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,17}</string>
                <key>spriteSize</key>
                <string>{191,198}</string>
                <key>spriteSourceSize</key>
                <string>{207,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Large_SalmieAnimationSpritesheet.png</string>
            <key>size</key>
            <string>{776,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9542ae056fa8d1ec391d0e859a4b364f:7201fc1809934830c12e5bec64210852:f83be07dedd423d5a3f0ec09bd0a1c9b$</string>
            <key>textureFileName</key>
            <string>Large_SalmieAnimationSpritesheet.png</string>
        </dict>
    </dict>
</plist>
