<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Large_Parrie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{283,232}</string>
                <key>spriteSourceSize</key>
                <string>{307,280}</string>
                <key>textureRect</key>
                <string>{{284,1},{283,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Parrie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{281,232}</string>
                <key>spriteSourceSize</key>
                <string>{307,280}</string>
                <key>textureRect</key>
                <string>{{569,1},{281,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Large_Parrie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{281,250}</string>
                <key>spriteSourceSize</key>
                <string>{307,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{281,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Large_ParrieAnimationSpritesheet.png</string>
            <key>size</key>
            <string>{851,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0552f00c449b4e6a29224195b1be2503:2cfbd0f8ab521db3cef79ead212601ac:fbb62e90707ddb9dda4c65d42975fe5f$</string>
            <key>textureFileName</key>
            <string>Large_ParrieAnimationSpritesheet.png</string>
        </dict>
    </dict>
</plist>
