<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Small_BunBun1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,-2}</string>
			<key>spriteSize</key>
			<string>{64,102}</string>
			<key>spriteSourceSize</key>
			<string>{80,116}</string>
			<key>textureRect</key>
			<string>{{1,103},{64,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_BunBun2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-3}</string>
			<key>spriteSize</key>
			<string>{68,100}</string>
			<key>spriteSourceSize</key>
			<string>{80,116}</string>
			<key>textureRect</key>
			<string>{{1,1},{68,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_BunBun3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-5}</string>
			<key>spriteSize</key>
			<string>{70,96}</string>
			<key>spriteSourceSize</key>
			<string>{80,116}</string>
			<key>textureRect</key>
			<string>{{1,207},{70,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_BunBun4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-5}</string>
			<key>spriteSize</key>
			<string>{72,96}</string>
			<key>spriteSourceSize</key>
			<string>{80,116}</string>
			<key>textureRect</key>
			<string>{{1,305},{72,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_BunBun5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-5}</string>
			<key>spriteSize</key>
			<string>{72,96}</string>
			<key>spriteSourceSize</key>
			<string>{80,116}</string>
			<key>textureRect</key>
			<string>{{1,403},{72,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Small_BunBunAnimationSpritesheet.png</string>
		<key>size</key>
		<string>{74,500}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1e9ed1857add9fd14878f224e0dcd1d7:9fff7863564e1f0805278945adfb8c46:71885fa76962307225f47571f7d22613$</string>
		<key>textureFileName</key>
		<string>Small_BunBunAnimationSpritesheet.png</string>
	</dict>
</dict>
</plist>
