<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Small_Salmie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,108}</string>
			<key>textureRect</key>
			<string>{{1,1},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Salmie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-4}</string>
			<key>spriteSize</key>
			<string>{78,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,108}</string>
			<key>textureRect</key>
			<string>{{85,81},{78,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Salmie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{78,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,108}</string>
			<key>textureRect</key>
			<string>{{1,83},{78,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Small_Salmie4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{78,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,108}</string>
			<key>textureRect</key>
			<string>{{83,1},{78,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>Small_Salmie5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{78,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,108}</string>
			<key>textureRect</key>
			<string>{{1,83},{78,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Small_SalmieAnimationSpritesheet.png</string>
		<key>size</key>
		<string>{166,162}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a9f4a219982a9cd61fb7e9d53c5f9aa7:badba6c3319c018cbde990688bf22bac:401aa2dd4b3efa4addf3ba6707b167e9$</string>
		<key>textureFileName</key>
		<string>Small_SalmieAnimationSpritesheet.png</string>
	</dict>
</dict>
</plist>
