<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Small_Parrie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{80,65}</string>
			<key>spriteSourceSize</key>
			<string>{80,73}</string>
			<key>textureRect</key>
			<string>{{1,1},{80,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Parrie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{80,65}</string>
			<key>spriteSourceSize</key>
			<string>{80,73}</string>
			<key>textureRect</key>
			<string>{{1,68},{80,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Parrie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{78,67}</string>
			<key>spriteSourceSize</key>
			<string>{80,73}</string>
			<key>textureRect</key>
			<string>{{1,135},{78,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Small_ParrieAnimationSpritesheet.png</string>
		<key>size</key>
		<string>{82,203}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ef276883f2271604bbb644cf5d9d00ee:93873c874de8a4c855c9a8fc58a670ce:74fcf5213a7704bf1b414eef6e846b93$</string>
		<key>textureFileName</key>
		<string>Small_ParrieAnimationSpritesheet.png</string>
	</dict>
</dict>
</plist>
