<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Small_Foxy1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{70,86}</string>
			<key>spriteSourceSize</key>
			<string>{80,104}</string>
			<key>textureRect</key>
			<string>{{1,1},{70,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Foxy2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-5}</string>
			<key>spriteSize</key>
			<string>{72,84}</string>
			<key>spriteSourceSize</key>
			<string>{80,104}</string>
			<key>textureRect</key>
			<string>{{1,89},{72,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Foxy3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-5}</string>
			<key>spriteSize</key>
			<string>{72,84}</string>
			<key>spriteSourceSize</key>
			<string>{80,104}</string>
			<key>textureRect</key>
			<string>{{1,175},{72,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Foxy4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-5}</string>
			<key>spriteSize</key>
			<string>{72,84}</string>
			<key>spriteSourceSize</key>
			<string>{80,104}</string>
			<key>textureRect</key>
			<string>{{1,261},{72,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Foxy5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-5}</string>
			<key>spriteSize</key>
			<string>{72,84}</string>
			<key>spriteSourceSize</key>
			<string>{80,104}</string>
			<key>textureRect</key>
			<string>{{1,175},{72,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Small_FoxyAnimationSpritesheet.png</string>
		<key>size</key>
		<string>{74,346}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d249d8deeb8b56d6fc58a685b8aecfe9:1fa08b1a620f6d3e22f873548271dea4:c697b075dbc6c9e11b46aad357a21b5c$</string>
		<key>textureFileName</key>
		<string>Small_FoxyAnimationSpritesheet.png</string>
	</dict>
</dict>
</plist>
