<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Small_Ellie1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-3}</string>
			<key>spriteSize</key>
			<string>{76,97}</string>
			<key>spriteSourceSize</key>
			<string>{80,103}</string>
			<key>textureRect</key>
			<string>{{1,1},{76,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Ellie2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{76,95}</string>
			<key>spriteSourceSize</key>
			<string>{80,103}</string>
			<key>textureRect</key>
			<string>{{1,100},{76,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Ellie3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{76,91}</string>
			<key>spriteSourceSize</key>
			<string>{80,103}</string>
			<key>textureRect</key>
			<string>{{1,197},{76,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Ellie4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{76,91}</string>
			<key>spriteSourceSize</key>
			<string>{80,103}</string>
			<key>textureRect</key>
			<string>{{1,290},{76,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Small_Ellie5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-5}</string>
			<key>spriteSize</key>
			<string>{76,91}</string>
			<key>spriteSourceSize</key>
			<string>{80,103}</string>
			<key>textureRect</key>
			<string>{{1,197},{76,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Small_EllieAnimationSpritesheet.png</string>
		<key>size</key>
		<string>{78,382}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:89c83d140c645d6b85723a087a8a2295:2176e36adcc81a8079aa4c19086bb32d:b357ff31e546dbe8c969fe0d1c8bb731$</string>
		<key>textureFileName</key>
		<string>Small_EllieAnimationSpritesheet.png</string>
	</dict>
</dict>
</plist>
